
<%= form_with model: @post, local: true do |form| %>
  <p>
    <%= form.label :Owner %><br>
    <%= form.text_field :owner %>
  </p>
 
  <p>
    <%= form.label :Post %><br>
    <%= form.text_area :content %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>