


<%= stylesheet_link_tag "posts" %>
<body>
<header>
<%= render "header" %>
</header>
<section>
<div class="container-fluid">
<h2>Edit Post!</h2>
</div>
<div class="new">
<div class="form-wrapper">
<%= render "form" %>
<%= link_to 'Back', posts_path %>
</div>
</div>
</div>

</section>
<footer>
<%= render "footer" %>
</footer>
</body>