<%= stylesheet_link_tag "posts" %>

  <body>

    <section>
      <div class="container-fluid">
        <h2>Top blogs</h2>
      </div>
      <div class="blogs">
        <% @posts.each do |post| %>
          <div class="container justify-items-center align-items-center">
            <div class="blog-header">
              <%= post.user.email %>
            </div>
            <div class="blog-content">
              <p>
                <%= link_to post.title , post_path(post) %>
              </p>
              <p>
                <%= post.content %>
              </p>
              <span><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></span>
              <span><%= button_to 'Edit', edit_post_path(post.id) , {method: :get } %></span>
            </div>
            <% if user_signed_in? %>
              <div class="blog-footer">
                <div class="like-wrapper">
                <%if !current_user.likes.find_by_post_id(post[:id]) %>
                  <%= link_to "Likes (#{post.likes_count})", add_like_path(post.id) %><span class="glyphicon glyphicon-thumbs-up"></span>
                <% else %>
                    <%= link_to_if !current_user.likes.find_by_post_id(post[:id]) , "Liked! (#{post.likes_count})", add_like_path(post.id) %>
                <% end %>
                </div>
                <div class="comment-wrapper">
                  <%= link_to "Comments (#{post.comments_count})", post_path(post[:id]) %><span class="glyphicon glyphicon-comment"></span>
                </div>
              </div>
            <% else %>
            <div class="blog-footer">
                <div class="like-wrapper">
                  <%= link_to_if false, "Likes (#{post.likes_count})", add_like_path(post.id) %>
                </div>
                <div class="comment-wrapper">
                  <%= link_to_if false, "Comments (#{post.comments_count})", post_path(post[:id]) %>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
      </div>

    </section>
    <footer>
      <%= render "footer" %>
    </footer>
  </body>